/* 폰트 */

@font-face {
font-family: 'Source Code Pro';
src: url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
font-weight: normal;
font-style: normal;
}

@font-face {
    font-family: 'BRRA_R';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/BRRA_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* { font-family: 'BRRA_R';
}


/* 관리자 아이콘 숨기기 */

img[src="https://static-cdn.jtvnw.net/chat-badges/globalmod.png"] {

    display: none;

}


img[src="https://static-cdn.jtvnw.net/chat-badges/mod.png"] {

    display: none;

}

/* 로고1 */

header .row>div:nth-child(1)>a {

    display: block;

    width: 200px;

    height: 50px;

    background: url(https://upload.tgd.kr/20190423/2387277bd9376fb7bc82ae574171e5b1.png) no-repeat; /* url(로고 경로 입력) */

    background-size: auto 50px;

}



header .row>div:nth-child(1)>a>img {

  display: none;

}


/* 테두리 */

header #header-bar>.row, #main .menu-wrapper, #main #main-content>div.frame {

    border-radius: 15px;

}

#main .menu-wrapper>.header {

    border-radius: 15px 15px 0 0;

}

#main .menu-wrapper a:nth-last-child(1) {

    border-radius: 0px 0px 15px 15px;

}

/* 배경 */


body {

    height: auto !important;

    background: #323232;    /* 배경색 코드 입력 */


}

/* 검색창 */

header #right-search-form>input[type=text] {

    border: 3px solid #fff; /* 검색창 테두리 색 */

    border-radius: 15px;

}

/* 검색 버튼 */

header #right-search-form>#right-search-btn {

    color: #E1CC97; /* 검색창 옆 돋보기 색 */

}


/* 배너 */

header #header-bar>.row, #main .menu-wrapper, #main #main-content>div.frame {

    border-radius: 15px;

}

/* 광고 배너 */

header #header-bar>.row {

    border-top: 3px solid #E1CC97 !important; /* 광고 배너 테두리 색 */

    border: 3px solid #E1CC97; /* 광고 배너 테두리 색 */

}

/* 광고 배너 광고 뱃지 */

header #header-bar #header-top-notice strong.notice-badge {

    background: #E1CC97; /* 광고 배너 광고 뱃지 배경 색상 */

}

/* 좌측 배너 */

#main .menu-wrapper {

    border: 2px solid #E1CC97; /* 좌측 배너 테두리 색 */

    border-top: none !important;

}

/* 좌측 배너 헤더 */

#main .menu-wrapper>.header {

    background: #E1CC97; /* 좌측 배너 제목 배경 색 */

    border-radius: 15px 15px 0 0;

}

/* 좌측 배너 빈 공간 */

#main .menu-wrapper .spacer {

    background: #E1CC97;

}

/* 좌측 배너 하단 */

#main .menu-wrapper a:nth-last-child(1) {

    border-radius: 0px 0px 15px 15px;

}

 /* 좌측 배너 이니셜 */

#main .menu-wrapper>a>em {

    color: #000;

}

/* 좌측 배너 점 */

.fa-square:before {

    color: #000;

}

/* 스트리머 사진 이동 */

#board-info #board-info-profile-img {

    float: left !important;

    margin-right: 5px;

}
/* 스트리머 닉네임 색 변경 */

#board-info h1>a {

    color: #505050;

}

/* 글 작성자 닉네임 색 변경 */

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {

    color: #505050;

}

/* 메인 배너 */

#main #main-content>div.frame {

    border-top: 2px solid #E1CC97 !important; /* 메인 배너 테두리 */

    border: 2px solid #E1CC97; /* 메인 배너 테두리 */

}

/* 카테고리 배경색 */

#article-list #article-list-category {
  border-top: 2px solid #fff;
  background: white;
}

#article-list #article-list-category>a {
  background: white;
}

/* 접속자 수 */

#board-info #viewers-area {

    color: #28A0FF; /* 접속자 수 글씨 색 */

}



#board-info #viewers-area #viewers:before {

    content: "무릎 보호대 ";    /* 숫자 앞에 들어갈 문구 */

        /* ex) content: "트수 "; */

        /* 출력 시 : 트수 n */

    cursor: text;

}



#board-info #viewers-area #viewers:after {

    content: "명 착용중";    /* 숫자 뒤에 들어갈 문구 */

        /* ex) content: "명 접속중"; */

        /* 출력시 : n명 접속중 */

    cursor: text;

}

/* 메인 배너 글 공지 */

#article-list>.article-list-row.notice {

    background-color: #F7F2E6; /* 공지 배경 색 */

}

/* 무릎 게임 일기 */
#article-list-row-20267718 > div:nth-child(1) > div:nth-child(2){ 

    background: url(https://upload.tgd.kr/20190424/c74973db7b19cbcfb97b54ae926b4cf1.png) !important; 

}


/* 글 추천 수 */

#article-list>.article-list-row>.item>.list-header>span {

    background-color: #505050; /* 글 추천 수 배경 색 */

}

/* 글 추천 10개 */

@keyframes binglebingle { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }  

span.a-badge i.fa.fa-star { 

animation: binglebingle 1.5s infinite; } 


/* 인기글 버튼 */

#article-list #article-list-menu>.btn.best {

    border-radius: 15px;

}

/* 댓글 수 */
#article-list>.article-list-row>.item>.list-title>small.comment-count {

    color: #E1CC97; /* 댓글 수 색 */

}

/* 스트리머 좋아요 */

small.favo i.fa.fa-heart {

    animation: heartbeat 1s infinite;

}


@keyframes heartbeat {

    0% { transform: scale(1); }

    30% { transform: scale(1.25); }

    42% { transform: scale(0.9); }

    60% { transform: scale(1.15); }

    85% { transform: scale(0.95); }

    100% { transform: scale(1); }

}

/* 하트 */

.fa-heart:before {

    content: "\f004";

    animation: BlowUp 2s infinite linear;

}



/* 글 쓰기 버튼 */

#article-list #article-list-menu>.btn.write {

    border-radius: 15px;

}



.btn-primary {

    background-color: #505050; /* 글 쓰기 버튼 배경 색 */

    border-color: #505050; /* 글 쓰기 버튼 배경 색 */

}

/* 설정 버튼 */

#article-list #article-list-menu>.btn.cog {

    border-radius: 15px;

}

/* 삭제 버튼 */

#article-list #article-list-menu>.btn.del {

    border-radius: 15px;

}

/* 목록 버튼 */

.btn {

    border-radius: 15px;

}



.btn-group-sm>.btn, .btn-sm {

    border-radius: 15px;

}

/* 게시글 추천 */

.btn-outline-success {

    color: #E1CC97; /* 추천 버튼 배경 색 */

    border-color: #E1CC97; /* 추천 버튼 테두리 색 */

}

/*스크롤*/

#movetotop img{display:none}

#movetotop{display: inline-block;opacity:1;background:url(https://upload.tgd.kr/20190423/0bc7e5a7a3829cadbd20f8d04ad54376.png);    width: 60px;  height: 60px;background-size: contain;}


  